{event_id:, attributes: {}, streams: []}

<h4>Attributes:</h4>
{{#if attributes}}
    <blockquote id="event-attribute-{{event_id}}" class="event-attribute">
    {{#each attributes}}
        <div><b>{{@key}}:</b>
            <span id='attribute-{{event_id}}-{{@key}}'>{{this}}</span>
        </div>
    {{/each}}
    </blockquote>
{{else}}
    <blockquote id="event-attribute-{{event_id}}" class="event-attribute no-attributes">
      No Attributes...
    </blockquote>
{{/if}}

<h4>Details:</h4>
{{#if streams}}
  {{#each streams}}
    {{this.name}}
    <blockquote>
      <pre id="event-stream-text-{{event_id}}" class="event-stream-text">
        {{this.text}}
      </pre>
    </blockquote>
  {{/each}}
{{else}}
  <blockquote>
    <pre id="event-stream-text-{{event_id}}" class="event-stream-text no-text">
      No Details...
    </pre>
  </blockquote>
{{/if}}
