<tr id="event-row-{{event.id}}" class="event-row" style="display: none;">
  <td class="event-expander">
    <a data-toggle="collapse" data-target="#toggle-details-{{event.id}}" class="btn">
      <i class="icon-level-down"></i>
    </a>
  </td>
  <td class="event-summary"><span title="{{event.summary}}">{{event.summary}}</span></td>
  <td class="event-user">{{event.user}}</td>
  <td class="event-tags">{{event.tags}}</td>
  <td class="event-level">{{event.level}}</td>
  <td class="event-start">{{event.start}}</td>
  <td class="event-end">{{event.end}}</td>
</tr>
